<a href="https://colab.research.google.com/github/Edgal4/Edgal4/blob/main/Connecting_to_BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Library imports
import google.auth
import pandas_gbq
import pandas as pd

### Authentication

In [2]:
!gcloud auth application-default login

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fsdk.cloud.google.com%2Fapplicationdefaultauthcode.html&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsqlservice.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=7qgU1jtf0f0J5MDN5mdbBawZs3wEyV&prompt=consent&access_type=offline&code_challenge=YakghwCEN2KW3mCC95hiyov6bD1v8JDXiX4T95lSrzI&code_challenge_method=S256

Enter authorization code: 4/0AVHEtk5SQm9Ei3wugYyLEIhQcdc1Mg8t6Dg8Ss5buchZ_5nanp1sEuWlfzQ6IThZeNHAKw

Credentials saved to file: [/content/.config/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).
WARNING:
Cannot find a quota project to add to ADC. You might receive a "quota exceeded" or "API not enabled" error. Run $ gcloud auth application-default set-quota-project to add a quota project.

In [4]:
credentials, project = google.auth.default()

# Update the in-memory credentials cache
pandas_gbq.context.credentials = credentials
pandas_gbq.context.project = "ingka-analytic-csandrs-test"

/usr/local/lib/python3.9/dist-packages/google/auth/_default.py:78: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. See the following page for troubleshooting: https://cloud.google.com/docs/authentication/adc-troubleshooting/user-creds.
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

### Querying a table from BigQuery

In [5]:
# Define project and table IDs
project_id = "ingka-analytic-csandrs-test"
table_id = "ingka-analytic-csandrs-test.GLOBAL_CS_Dashboard_PowerBI.Top_Level_Data"

In [6]:
# # Write the SQL query
sql_query = """
  SELECT *
  FROM `ingka-analytic-csandrs-test.GLOBAL_CS_Dashboard_PowerBI.Top_Level_Data` 
  WHERE website_market = "Italy"
"""

In [7]:
df = pandas_gbq.read_gbq(sql_query, 
                         project_id=project_id)

Downloading: 100%|██████████|

In [8]:
df

,date_month,website_market,device_category,traffic_channel,bounced_sessions,sessions
0,2022-05-01,Italy,desktop,Email,53967,105668
1,2022-09-01,Italy,tablet,Email,1794,3056
2,2022-11-01,Italy,mobile,Email,243907,358324
3,2022-10-01,Italy,tablet,Email,1989,3340
4,2023-04-01,Italy,mobile,Email,46717,71982
...,...,...,...,...,...,...
423,2022-12-01,Italy,tablet,Generic Paid Search,12471,22165
424,2022-04-01,Italy,mobile,Generic Paid Search,967656,1404137
425,2022-04-01,Italy,desktop,Generic Paid Search,163595,317359
426,2022-06-01,Italy,mobile,Generic Paid Search,895982,1258991
427,2022-06-01,Italy,tablet,Generic Paid Search,20690,30224

### Writing data from Pandas to a BigQuery table

In [ ]:
pandas_gbq.to_gbq(df_data, 
                  destination_table=table_id,
                  project_id=project_id, 
                  if_exists='append',
                  )